.nav_bar {
  background-color: $color_accent_1;
  height: 60px;

  i,
  button,
  span {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: 700;
  }
}
